faiss-cpu
huggingface_hub
ipykernel
jupyter
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-mistralai
numpy
pandas
pypdf
pytest
python-dotenv
streamlit
sentence-transformers
sqlalchemy
tiktoken