faiss-cpu
huggingface_hub
ipykernel
jupyter
langchain
langchain-community
langchain-huggingface
langchain-mistralai
pandas
plotly
pypdf
python-dotenv
roman
streamlit
sentence-transformers
sqlalchemy
tiktoken
yake