faiss-cpu
huggingface_hub
ipykernel
jupyter
langchain
langchain-community
langchain-huggingface
langchain-mistralai
pandas
pypdf
pytest
python-dotenv
streamlit
sentence-transformers
sqlalchemy
tiktoken
yake
